@charset "UTF-8";

.order-container{
	padding: 0 2rem 0 2rem;
}
.order-title{
	margin-bottom: 2.5rem;
}
.order-title-text{
    margin-top: 1.5em;
	font-weight: bold;
    font-size: 1.5rem;
}
.order-btn-title{
	color: #111;
    font-size: 1.125rem;
    line-height: 1.44444;
    font-weight: 700;
}
.info-title{
    display: flex;
    justify-content: space-around;
    margin: 3% 3%;    
    font-weight: bold;
    font-size: 1.0rem;
}

.search-container{
	display: flex;
    margin: 3% 7%;
}
.change-status{
    display: flex;    
    justify-content: center;
    margin: 2% 0;
    width: max-content;
    border: #ccc 2px solid;
    border-radius: 5px;
    align-items: center;
}
.input-form{
	border:none;
	outline:none;
	width:50px;	
    text-align: center;
    font-size: 1.5em;
    color: #007bff;
    font-weight: bolder;
}
.searchBtn{
    width: 30px;
    height: 30px;
    background-image: url(../../img/search.png);
    background-size: 30px 30px;
    border: none;
    outline: none;         
}

.topList{
	display: none;
    margin: 0 1em;
    border: #4285f4 5px solid;
}
#topList-title{
    font-size: 1.4em;
    font-weight: 900;
    color: #4285f4;
    text-align: center;
}

.clickPointer{
    cursor: pointer;
}
.change-state-title{
	padding: 6px 28px 6px 6px;
    font-size: 1em;
    font-weight: 900;
}
.mainList-title{
    font-size: 1em;
    font-weight: 900;
}
.change-state-container{
	display: flex;
	justify-content: center;
}