<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>






	<typeAliases>
		<typeAlias type="com.palette.orkney.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.palette.orkney.wishlist.model.vo.Wishlist" alias="wishlist"/>
		<typeAlias type="com.palette.orkney.wishlist.model.vo.Wishlist_detail" alias="wishlist_detail"/>
		<typeAlias type="com.palette.orkney.order.model.vo.Orders" alias="order"/>
		<typeAlias type="com.palette.orkney.order.model.vo.OrderDetail" alias="orderDetail"/>
		<typeAlias type="com.palette.orkney.member.model.vo.Addr" alias="addr"/>

		
		<typeAlias type="com.palette.orkney.cart.model.vo.Cart" alias="cart"/>	
			
	</typeAliases>


</configuration>
