@charset "UTF-8";
*{
	    font-family: sans-serif;
	}
	.orderList-container{
		max-width: 1024px;
	    margin: 0 auto;
	}
	.orderList_mobile{
		width: -webkit-fill-available;
	}
	
	.orderList-tab{
		width: 100%;
	}
	.orderList-btn{
		padding: 1em 0 1em 0px;
		font-weight: 500;
		margin-bottom: .375rem;
		border:0;
		border-radius: .125rem;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
		font-size: .81rem;
		width: -webkit-fill-available;
	}
	.orderList-btn:focus{
		outline: none;
	}
	.orderList_desktop{
		display: none;
	}
	caption{
		caption-side: top;
	}
	.desktop_content{
		padding: 0 1rem 2rem 1rem;
	}
	.orderList_Table{
		width: -webkit-fill-available;
		border-spacing: 0;
	}
	.orderList_Caption{
		font-weight: 700;
		font-size: 1em;
	}
	.orderList_Table th{
	    padding: 1rem 0 1rem 15px;
	    color: #666;
	    font-weight: 600;
	    font-size: 0.7rem;
	}
	.orderList_Table td{
		padding: .4em 0;
	}
	.orderList_Table td a{
		text-decoration: underline;
	}
	.list-item{
		font-size: 0.8rem;
		font-weight: 400;
	}
	@media (min-width: 769px){
	.orderList-container{
	    padding-left: 1rem;
	    padding-right: 1rem;
		}
		.orderList_mobile {
		    display: none;
		}
		.orderList_desktop{
			display: block;
		}
		.list-item{
			display: table-cell;
    		border-top: 1px solid #ccc;
		}
	}
	.btn-clicked{
		box-shadow: 0 5px 4px 0 rgba(0,0,0,0.16), 0 4px 10px 0 rgba(0,0,0,0.12);
    	z-index: 1;
    	font-weight: 600;
	}
	.panels{
		border-bottom: 2px solid #ccc;
    	padding: 1em 0;
	}
	.ol-container{
		display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    margin-bottom: 0.2em;
	}
	.panel2{
		display: none;
	}
	.AllNullNotice{
	    padding: 2em 0;
	    font-size: .8em;
	}
	.always-notice{
	    display: flex;
	    flex-direction: column;
	    box-sizing: border-box;
	    padding-left: 1rem;
	    padding-right: 1rem;
	    align-items: center;
	}
	.question{
		font-size: 0.875rem;
	    font-weight: 700;
	    letter-spacing: normal;
	    line-height: 1.57143;
	    color: rgb(17, 17, 17);
	    margin: 0px;
	}
	.answer{
		font-size: 0.875rem;
	    font-weight: 400;
	    letter-spacing: normal;
	    line-height: 1.71429;
	    color: rgb(72, 72, 72);
	    white-space: pre-wrap;
	    margin: 0px;
	}
	.notice-container{
		margin: 5em 0;
	}
	a{
		color:black;
		
	}