@charset "UTF-8";



.carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
	.carousel-multi-item.v-2 .carousel-item-next, .carousel-multi-item.v-2 .carousel-item-prev
	{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
 

 	.carousel-multi-item.v-2 .carousel-item-right.active, 
 		.carousel-multi-item.v-2 .carousel-item-next { 
 		-webkit-transform: translateX(100%); 
 		-ms-transform: translateX(100%); 
 		transform: translateX(100%); 
 	} 
	
 	.carousel-multi-item.v-2 .carousel-item-left.active, 
 		.carousel-multi-item.v-2 .carousel-item-prev { 
 		-webkit-transform: translateX(-100%); 
 		-ms-transform: translateX(-100%); 
 		transform: translateX(-100%); 
 	} 
	
 	.carousel-multi-item.v-2 .carousel-item-right, .carousel-multi-item.v-2 .carousel-item-left 
 		{ 
 		-webkit-transform: translateX(0); 
 		-ms-transform: translateX(0); 
 		transform: translateX(0); 
	} 
 

	.img_siz{
		
		height: 468px;
	}
.goleft{
	
    margin-right: 100rem !important;
    z-index: 1;
    top: 20rem !important;
}
/* .goright{ */
/*     margin-left: 68.8rem !important; */
/*     z-index: 1; */
/*     top: 18rem !important; */
/* } */

.goright {
    margin-left: 27.7rem !important;
    z-index: 1;
    top: 18.4rem !important;
}

@media (min-width: 510px) {
	.goright {
    margin-left: 28.5rem !important;
    z-index: 1;
    top: 18.4rem !important;
}
}
@media (min-width: 520px) {
	.goright {
    margin-left: 29rem !important;
    z-index: 1;
    top: 18.4rem !important;
}
}
@media (min-width: 530px) {
	.goright {
    margin-left: 30rem !important;
    z-index: 1;
    top: 18.4rem !important;
}
}
@media (min-width: 545px) {
	.goright {
    margin-left: 30.5rem !important;
    z-index: 1;
    top: 18.4rem !important;
}
}
@media (min-width: 555px) {
	.goright {
    margin-left: 31rem !important;
    z-index: 1;
    top: 18.4rem !important;
}
}
@media (min-width: 565px) {
	.goright {
    margin-left: 31.5rem !important;
    z-index: 1;
    top: 18.4rem !important;
}
}
@media (min-width: 573px) {
	.goright {
    margin-left: 32rem !important;
    z-index: 1;
    top: 18.4rem !important;
}
}


.imgCenter{
    text-align: -webkit-center;
}
