@charset "UTF-8";
.round {
	border-radius: 50px;
	background-color: rgb(238, 237, 237);
}

.fontSiz {
	font-weight: bolde;
	font-size: x-small;
}

.fontSiz2 {
	font-weight: bolder;
	font-size: medium;
}

.filterSiz {
	width: 100px;
	height: 30px;
	padding: 0%;
}

.star {
	width: 1.125rem;
	height: 1.125rem;
	margin-right: -5px;
}

.marginZero {
	margin: 0px;
}

.fontborder {
	font-weight: bolder;
	/* 	font-size: small; */
	font-size: 0.77em;
}

.filterBtn {
	justify-content: space-between;
	height: 17px;
}

.btn-group {
	margin: 0px !important;
	padding: 0px !important;
}

.btn span.glyphicon {
	opacity: 0;
}

.btn.active span.glyphicon {
	opacity: 1;
}

.leftMargin {
	margin-left: auto !important;
}

.color-Gray1 {
	color: gray !important;
}

.color-Gray2 {
	color: rgb(182, 182, 182) !important;
}

.color-Gray3 {
	color: rgb(224, 222, 222) !important;
}

.fontColorGray {
	color: #616161;
}

.headerFilter {
	position: sticky;
	z-index: 2;
	top: 0;
	display: block;
}

.btnH35 {
	height: 35px;
}

.plp-comparison-bar__image {
	width: 40px;
	max-height: 40px;
	margin-right: 10px;
}

.modal-bottom {
	bottom: 0;
	position: absolute;
}

.bottomSiz {
	width: 100% !important;
	max-width: 100% !important;
	margin: 0 !important;
}
.jagan{
    justify-content: space-between;
}
.btnBol{
border: 1px solid gray !important;
background-color: white;
}

@media (max-width:575.5px) {
	.heartCart_icon{
	    margin: 1rem !important;
	    margin-left: auto !important;
	    margin-right: 1.5rem !important;
	}
	
	.heart_icon{
	    margin-left: 1rem !important;
	}
	
	
}
.plp-checkbox {
    position: absolute;
    left: 0.375rem;
    top: 1.3rem;
}

.plp-checkbox {
    position: relative;
    display: flex;
    align-items: flex-start;
}
.productSizing{
	margin-bottom: -18px !important;
    margin-top: -12px !important;
}

.shadow-hidden{
	box-shadow: revert;
}
.rm-pb-et-new {
	font-size: .875rem;
	line-height: 1.42857;
	color: darkslateblue;
	display: block;
	font-weight: 700;
	margin-bottom: .3125rem;
	 height: 19.5px;
}
.rm-pb-et-p {
	font-size: .875rem;
	line-height: 1.42857;
	color: #ed022a;
	display: block;
	font-weight: 700;
	margin-bottom: .3125rem;
	height: 19.5px;
}



.wl-do-modal {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    display: flex;
    padding: 1.25rem;
    background: #000000;
    width: 100%;
    margin-bottom: 0.625rem;
    transform: translateY(-100%);
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 55;
    color: white;
    font-size: 0.875rem;
}
	
.wl-do-modal-show {
	transform: translateY(0);
    pointer-events: auto;
}
.do-modal-header{
	display: flex;
    align-items: baseline;
    justify-content: space-between;
    font-weight: 800;
    padding: 0 0 0 0.8em;
}
.do-modal-body{
    padding: 0 0.8em 2em;
}
.form-check{
	font-size: 0.875rem;
}
.form-li{
	margin: 0.8em 0;
}
.do-modal-footer{
	font-weight: 800;
    background: #0058a3;
    padding: 0.8em;
    text-align: center;
}
.do-modal-close-background{
	background: #676768;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:focus { outline:none; }

@media (min-width : 800px){
	.wl-do-modal{
		border-radius: 4px;
	    width: 25rem;
	    top: 5.625rem;
	    right: -28.125rem;
	    left: auto;
	    padding: 1.875rem 1.25rem;
	    transform: none;
	    transition: right 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
	}
	.wl-do-modal-show{
	    transform: none;
    	right: 3.125rem;
	}
}