@charset "UTF-8";

/* * {
	word-break: keep-all;
} */

.wrapper {
	height: auto ;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-column-gap: .75rem;
	grid-row-gap: .75rem;
	grid-template-rows: auto repeat(7, 1fr);
	margin-bottom: 4rem;
	
}

.one {
	grid-row: 1/2;
	grid-column: 1/3;
}

.two {
	grid-column: 1/2;
	grid-row: 2/5;
}

.three {
	grid-column: 2/3;
	grid-row: 2/6;
}

.four {
	grid-column: 1/2;
	grid-row: 5/9;
}

.five {
	grid-column: 2/3;
	grid-row: 6/9;
}

.rm-container {
	padding: 0 2rem 0 2rem;
	margin-bottom: 4rem
}

.breadcrumb-item+.breadcrumb-item::before {
	content: ">";
}

.breadcrumb {
	background-color: white;
}

a {
	color: black;
}

.rm-top {
	color: #111;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 3rem;
}

.breadcrumb-item {
	font-size: .75em;
}

.rm-ig {
	width: 100%;
	height: 100%;
}

.rm-hd {
	display: flex;
	flex-direction: column;
}

.rm-h1 {
	margin-bottom: 2.5rem;
	font-weight: 700;
}

.rm-sp {
	font-weight: bold;
	font-size: 1.375rem;
	line-height: 1.45455;
}

.rm-sps {
	width: 96%;
	margin: 20px 0px 20px 0px;
}

.rm-a {
	width: 2.25rem;
	height: 2.25rem;
	border-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 64px;
	line-height: .5;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}

.rm-a::after {
	content: "";
	width: .75rem;
	height: .75rem;
	position: relative;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
	border-radius: 64px;
}

.rm-a:hover {
	border: 2px solid rgba(255, 255, 255, 0.5);
}

.rm-a:hover:after {
	transform: scale(0.667);
	
}


.rm-bt {
	position: absolute;
	
	
}

.rm-ig-box {
	position: relative;
	
}

.rm-pd-a {
	opacity: 0;
	visibility: hidden;
	z-index: 0;
	width: 100%;
	background: #fff;
	text-align: left;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #000;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.55);
	position: relative;
}



.rm-a-a {
	text-decoration: none;
	color: #000;
	display: inline-flex;
	flex-direction: column;
	padding: 10px 6px 10px 15px;
	width: 100%;
}

.rm-pd-box {
	display: inline-flex;
	justify-content: space-between;
}

.rm-pd-box-box {
	display: inline-flex;
	flex-direction: column;
	margin-top: .3125rem;
	max-width: 135px;
}

.rm-pb-et-p {
	font-size: .875rem;
	line-height: 1.42857;
	color: #ed022a;
	display: block;
	font-weight: 700;
	margin-bottom: .3125rem;
	height: 19.5px;
}


.rm-pb-et-new {
	font-size: .875rem;
	line-height: 1.42857;
	color: #ca5008;
	display: block;
	font-weight: 700;
	margin-bottom: .3125rem;
	 height: 19.5px;
}


.rm-bt-pb {
	margin-bottom: .625rem;
}

.rm-bt-name {
	ont-size: .875rem;
	line-height: 1.42857;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}

.rm-bt-context {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: .875rem;
	line-height: 1.42857;
	letter-spacing: 0;
	font-weight: 400;
}

.rm-bt-sp {
	word-break: keep-all;
	overflow: hidden;
	white-space: nowrap;
	font-size: .875rem;
	line-height: 1.42857;
	letter-spacing: 0;
	font-weight: 400;
	color: #484848;
}

.rm-bt-price {
	font-size: .875rem;
	text-decoration: line-through;
	font-weight: 400;
	color: #484848;
}

.rm-bt-et-price {
	white-space: nowrap;
	margin-right: .625rem;
	line-height: .9;
	font-size: 1rem;
	display: inline-block;
	font-weight: 700;
	color: #000;
}

.rm-bt-ig {
	height: 27px;
	width: 19px;
}

.rm-md-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	flex-direction: column;
}

.rm-md-container-inner {
	margin-right: 1.25rem;
	flex-basis: calc(( 100%/ 12)* 6);
}

.rm-md-info {
	margin-bottom: 0.5rem
}

.rm-md-hnzkp {
	font-weight: bold;
	margin: 0;
	word-break: break-word;
	font-size: 1.375rem;
	line-height: 1.45455;
	margin-bottom: 1rem;
}

.rm-md-secondary {
	position: relative;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	font-size: .875rem;
	line-height: 1.5;
	transition-property: all;
	transition-duration: 100ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.4, 1);
	cursor: pointer;
	box-sizing: border-box;
	background: transparent;
	border-radius: 64px;
	vertical-align: top;
}

.rm-md-label {
	color: black;
}

.rm-md-secondary:hover {
	border: 1px solid black;
	text-decoration: none;
}

.rm-md-small {
	height: 2.5rem;
	padding: 0 1.5rem;
	font-size: .75rem;
	line-height: 1.33333;
	display: flex;
	align-items: center;
	border: 1px solid #e0e0e0;
	border-radius: 25px;
}

.populartitle {
	width: 100%;
	height: 50px;
	font-weight: 700;
	padding: 30px 0;
}

.newProduct {
	width: 100%;
	height: 588px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center !important;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

}


.swiper-slide img {
	height: 100%;
	width: 100%;
}
.event-price{
	text-decoration: line-through;
	height: 21.5px;
}
.product-price{
	font-weight: 700 !important;
    color: #000 !important;
	font-size: 1.375rem !important;
}
.event-product-name{
	font-size: .875rem !important;
	font-weight: bold !important;
	
}
.ev-pb-et-p-rm {
	text-transform: capitalize;
    color: #ed022a;
    font-size: .875rem;
    font-weight: 700;
}
  .swiper-button-next , .swiper-button-prev  {
	/* display: none; */
	width: 44px;
    background-color: #fff;
    border-radius: 30px;
    opacity: 0;
	visibility: hidden;
	z-index: 0;
	border: 0;
	outline: 0 ;
	
} 


.swiper-container:hover .swiper-button-next {
	opacity: 1;
	visibility: visible;
	z-index: 1;
}
.swiper-container:hover .swiper-button-prev{
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

 .rm-ig-box:hover .rm-bt >  .rm-a{
	opacity: 1;
	visibility: visible;
	 
} 
 .rm-a:hover ~ .rm-pd-a{
	opacity: 1;
	visibility: visible;
	z-index: 3;
	
}

.rm-pd-a:hover{
	opacity: 1;
	visibility: visible;
	z-index: 3;
	
}
.rm-pd-a:hover .rm-bt-name{
	text-decoration: underline;
}
.rm-none{
	display:none;
	
}
.col{
	padding: 0 !important;
   
}
.view{
	height: 277px !important;
}
.rm-none2{
	display: none;
}
.cltjf{
	display: none;
}
.rm-am{
	z-index: 1 !important;
}
.noneBox{
	display:none;	
}
#foo{
	width:100%;
	height: 100%;
}

#roomsContent {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
     font-size: .8rem;
    letter-spacing: 1px;
}

.card-title{

margin-bottom: 0px !important;
}
.card-body{
	    height: 294.39px;
}
@media ( min-width : 320px) {
	.col{
	max-width: 70% ;
	 position: relative;
    left: 15%; 
  
  
}
@media ( min-width : 480px){
	.col{
	 position: relative;
    left: 0%; 
	}
}
@media ( min-width : 640px) {
	.col{
	max-width: 100%;
    position: relative;
    left: 0%; 
}
@media ( min-width : 1200px) {
	.rm-container {
		padding-left: 7rem;
		padding-right: 2rem;
	}
	.rm-sps {
		width: 49%;
	}
}

@media ( min-width : 56.25em) {
	.wrapper {
		height: 638.49px ;
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-template-rows: repeat(7, minmax(0, 1fr));
		grid-row-gap: 1.25rem;
		grid-column-gap: 1.25rem;
		grid-auto-rows: minmax(100px, auto);
	}
	.one {
		grid-row: 1/8;
		grid-column: 1/3;
		
	}
	.two {
		grid-column: 3/4;
		grid-row: 1/4;
	}
	.three {
		grid-column: 4/5;
		grid-row: 1/5;
	}
	.four {
		grid-column: 3/4;
		grid-row: 4/8;
	}
	.five {
		grid-column: 4/5;
		grid-row: 5/8;
	}
	.rm-md-container {
		flex-direction: row;
	}
	.rm-md-container-inner {
		flex-basis: calc(( 100%/ 12)* 5);
		margin-right: 1.25rem;
	}
	.rm-md-secondary {
		display: inline-flex;
		flex-grow: 0;
		justify-self: end;
		align-self: flex-end;
	}
	
}