<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
  <select id="loginCheck" resultType="map" parameterType="string">
  	SELECT * FROM MEMBER WHERE MEMBER_ID=#{userId}
  </select>
  <insert id="insertSnsLogin" parameterType="map">
  	INSERT INTO SNS_LOGIN VALUES(#{id},#{name},#{profile},#{aToken},#{rToken},'m'||#{mNo})
  </insert>
  <select id="searchGoogleId" parameterType="map" resultType="map">
  	SELECT * FROM SNS_LOGIN WHERE EMAIL=#{id}
  </select>
  <update id="updateGoogleId" parameterType="map">
  	UPDATE SNS_LOGIN SET ACCESS_TOKEN=#{aToken}
  	<if test="rToken != null">
  	,REFRESH_TOKEN=#{rToken}
  	</if>
  	WHERE EMAIL=#{id}
  </update>
  <insert id="insertSignup" parameterType="map">
  	INSERT INTO MEMBER VALUES('m'||m_NUM.NEXTVAL,#{email},#{password},#{f_name}||#{g_name},SYSDATE,#{birthday},#{phone},default,default,#{emailCh},
  	<if test="type == null">
  	 DEFAULT
  	</if>
  	<if test="type != null">
  	 #{type}
  	</if>
  	,default)
  <selectKey keyProperty="mNo" resultType="string" order="AFTER">
  	SELECT M_NUM.CURRVAL FROM DUAL
  </selectKey>
  </insert>
  <select id="searchUser" parameterType="string" resultType="map">
  	SELECT * FROM MEMBER WHERE MEMBER_ID=#{email}
  </select>
  <insert id="addAdr" parameterType="map">
 	INSERT INTO ADDR VALUES((SELECT MEMBER_NO FROM MEMBER WHERE MEMBER_ID=#{email}),#{adr},1,null,null,'addr'||addr_seq.nextval)
  </insert>
  <select id="chatRoomNo" parameterType="string" resultType="string">
  	SELECT CHAT_ROOM FROM CHATTING WHERE MEMBER_NO=#{no} GROUP BY CHAT_ROOM ORDER BY CHAT_ROOM
  </select>
  <select id="chatData" parameterType="string" resultType="map">
  	SELECT * FROM CHATTING WHERE CHAT_ROOM=#{chatRoomNo}
  </select>
  <select id="chatRoom" parameterType="map" resultType="map">
  	SELECT * FROM CHATTING WHERE MEMBER_NO=#{memberNo} AND CHAT_ROOM=#{roomNo} 
  </select>
  <select id="chatAllData" parameterType="string" resultType="map">
  	SELECT * FROM CHATTING WHERE MEMBER_NO=#{id} order by chat_date desc
  </select>
  
  <insert id="chatDataSave" parameterType="map">
  	INSERT INTO CHATTING VALUES(c_num.nextval,#{sender},#{reciver},#{message},SYSDATE,
  	<if test="room == 'new'">
  	'r'||R_NUM.NEXTVAL
  	</if>
  	<if test="room != 'new'">
  	#{room}
  	</if>
  	,#{userNo})
  	<selectKey keyProperty="newNo" resultType="int" order="AFTER">
  		SELECT C_NUM.CURRVAL FROM DUAL
  	</selectKey>
  </insert>

  <select id="newRoomNo" resultType="string" parameterType="int">
  		SELECT CHAT_ROOM FROM CHATTING
  		WHERE CHAT_NO=#{newNo}
  </select>
  
  	<!-- 가입시 주소 가져오기 -->
  	<select id="getAddress" parameterType="string" resultType="string">
  		select address from addr where member_no=#{ no } and address_type = 1
  	</select>
  	
  	<!-- 추가된 배송지 리스트 가져오기 -->
  	<select id="addAddrList" parameterType="string" resultType="addr">
  		select * from addr where address_type=0 and member_no=#{mNo}
  	</select>
	
	<select id="snsUserInfo" parameterType="string" resultType="map">
		SELECT * FROM MEMBER JOIN SNS_LOGIN USING(MEMBER_NO) WHERE MEMBER_ID=#{userId}
	</select>
	
	<update id="updateSnsId" parameterType="map">
		UPDATE SNS_LOGIN SET SNS_NAME=#{name},SNS_PROFILE=#{profile},ACCESS_TOKEN=#{aToken}
		<if test="rToken != null">
		,REFRESH_TOKEN=#{rToken}
		</if>
		WHERE SNS_ID=#{id}
	</update>
	
	<insert id="defaultWishList" parameterType="string">
		INSERT INTO WISHLIST VALUES(WISHLIST_SEQ.NEXTVAL,#{mNo},'위시리스트')
	</insert>
	
	<select id="emailCh" parameterType="map" resultType="map">
		SELECT * FROM MEMBER WHERE MEMBER_ID=#{id}
		<if test="auth != null">
		AND EMAIL_AUTH='Y'
		</if>
	</select>
	
	<update id="transPwch" parameterType="map">
		UPDATE MEMBER SET MEMBER_PWD=#{pw} WHERE MEMBER_ID=#{id}
	</update>
  	
  	<!-- 이름, 생일 수정 -->
  	<update id="updateMemberPersonal" parameterType="map">
  		update member set MEMBER_NAME=#{name},BIRTHDAY=#{birth} where member_no=#{mNo}
  	</update>
  	
  	<!-- 연락처 수정 -->
  	<update id="updateMemberContact" parameterType="map">
  		update member set PHONE=#{phone} where member_no=#{mNo}
  	</update>
  	
  	<!-- 패스워드 수정 -->
  	<select id="updateMemberPassword" parameterType="map">
  		update member set MEMBER_PWD=#{newPwCk} where member_no=#{mNo}
  	</select>
  	
  	<select id="currentMemberInformation" parameterType="string" resultMap="memberResultMap">
  		select * from MEMBER join ADDR on (member.MEMBER_NO=addr.MEMBER_NO) where member.member_no=#{mNo}
  	</select>
  	
	<resultMap type="member" id="memberResultMap">
		<id column="MEMBER_NO" property="member_no"/>
		<result column="MEMBER_ID" property="member_id"/>
		<result column="MEMBER_PWD" property="member_pwd"/>
		<result column="MEMBER_NAME" property="member_name"/>
		<result column="ENROLL_DATE" property="enroll_date"/>
		<result column="BIRTHDAY" property="birthday"/>
		<result column="PHONE" property="phone"/>
		<result column="POINT" property="point"/>
		<result column="AUTHORITY" property="authority"/>
		<result column="EMAIL_CH" property="email_ch"/>
		<collection property="addr" resultMap="addrResultMap"/>
	</resultMap>  	
	
	<resultMap type="addr" id="addrResultMap">
		<result column="MEMBER_NO" property="member_no"/>
		<result column="ADDRESS" property="address"/>
		<result column="ADDRESS_TYPE" property="address_type"/>
		<result column="ADDRESS_NAME" property="address_name"/>
		<result column="ADDRESS_PHONE" property="address_phone"/>
	</resultMap>
	
	
	<!-- point update -->
	<update id="updatePoint" parameterType="map">
		UPDATE member SET point=#{point}  WHERE member_no=#{memberNo}
	</update>
	
	
</mapper>
