@charset "UTF-8";
        section{        
            display: flex;
            flex-direction: column;                      
        }
        .section-container{
            padding: 5% 20%;
            width: 100%;                          
        }
        .section-container .title{
            font-size: 40px;
            font-weight: 1000;            
        }        
        .event-bu{        
            margin: 15px;
            border-radius: 50px;
            width: 100% !important;
            background-color: #0058a3 !important;
            border: white ;
            padding: 1.84rem 2.14rem !important;
            outline:none !important;                       
        }
           .event-sp:hover {
            color: white !important;
        }
        .event-sp{
            font-size: 18px;
            font-weight: bold;
            color: white !important;
        }
     
        .event-bu:hover >.event-sp{
          color: white !important;
        }
        .event-bu:hover{
          background-color: #002b50 !important;                  
        } 

        /* section1 */
        .section1{        
        	min-width: 450px;      
            width: 100%;
        }       
        .product-pic img{
            width: 140px;
            height: 140px;            
            float: left;
            margin: 0 50px;            
        }
        .price{
            width: 10%;           
            float: right;
            margin: -6% 0 0% 0;            
        }
        .product-container{
            padding: 7% 0 2% 0;
        }
        .product-detail{                          	         
            font-size: 18px;
        } 
        .product-detail div{
            font-size: 18px;
        }
        .pay-btn{
            display: flex;
            justify-content: center;
            text-align: center;            
            width: 100%;    
            margin: 50px 0;                     
        }
        .title{
            display: flex;
            justify-content: space-between;
            margin: 5% 0;            
        }     
        .btn-container{
            width: 300px;
            display: flex;
            justify-content: space-around;     
            /* border: 1px solid; */
            margin: 20px 0;
        }
        .remove_basket, .wish_btn, .remove_list{
            outline: none !important;
            border: none !important;
            font-size: 18px !important;
            background-color: white !important;
            color: black !important;
        }

        .md-form{
            margin: 0%;
            padding: 0.1px 11px 3px 11px;
            border-radius: 16px;
            color: gray;    
            outline: none;            
        }
        .line1{
            width: 100%;
            opacity: 20%;
            height: 1px;
            background-color: gray;
        }
        .line2{            
            width: 100%;
            height: 2px;
            background-color: black;
        }
        .total-container{
            display: flex;
            justify-content: space-between;
            margin: 20px 0;            
        }
        .total-container div{            
            font-weight: 1000;            
        }
        .total-title{
            margin: 10px 0;
            font-size: 20px;
        }
        .total-price{
            font-size: 25px;
        }
        .section3 div, .section2 div{font-size: 18px;}    
        .service-container{
            display: flex;
            justify-content: space-between; 
            margin: 10px 0;           
        }      
        .etc-line {margin: 50px 0;}
        .etc-line img{margin: 20px;width: 30px; height:30px ;}
		.etc-line div{display:flex}
        .etc-detail{padding: 24px 0px 0px 1%; font-weight: 500;}

		.empty{
			    text-align: center;
    justify-content: center;
		}
        .empty img{
        width: 60%;
    	height: 60%;
        }