@charset "UTF-8";

        section{
            width: 100%;       
            display: flex;
            flex-direction: column; 
        }
        .section-container{
          padding: 5% 20%;
          width: 100%;                                  
        }
        .section1{
        width:100%;
        height:100%;
            margin: 5% 0;        
        }
        .section-op{margin-top:23%;}
        .section-op1{margin-top:20%;}
        .title-container{        
            width: 100%;        
            margin: 5% 0;
            font-size: 40px; 
            font-weight: 1000;
        }
        .line1{
            width: 100%;
            opacity: 20%;
            height: 1px;
            background-color: gray;
        }
        .etc-title{
            margin: 20px 0;
            font-size: 22px;
            font-weight: 1000;
        }
        .section2{
            margin: 50px 0;
            display: flex;
            justify-content: center; 
            text-align: center;     
        }
        .order-detail{   
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;      
        }
        .order-container{
                height: 140px;
                width:100%;
			    margin: 30px 0;
			    display: flex;
			    flex-direction: row;
        }
        .product-container{
                	display:flex;
        	justify-content: space-between;
        	}
        .product-pic img{
            width: 140px;
            height: 140px;             
            float: left;             
        }
        .product-detail{   
            padding: 5px;
            margin-left: 20%;
            font-size: 18px;
        } 

        .check-back img{            
            width: 200px;
            height: 200px;           
        }
        .check-back{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 600px;
            height: 400px;  
            margin: -100px 0;                     
        }
        .adrBtn{
            padding: 0 15rem;    
            height: 3.5rem;
            background: #0058a3;
            color: #ffffff;
            border-radius: 40px;
            border: none;
            font-weight: 700;
            outline: none !important;
            margin: 1.5rem 0;            
    }
    .check{font-weight: 600;}
    .order-no{display: flex;}

    .field{display: flex; margin-top: 20px;}
    .field div img{margin: 20px;width: 30px; height:30px ;}
    .field span{padding: 23px;     font-size: 18px;}
    .pay-title{       
    font-size:18px; 
    margin: 6px 80px;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    }
	.field-inline{
		display:inline; 
		width:50%; 
		float:left;     
		/* margin: 1% 0% 7% 0%; */
	}
    .line2{
        border-bottom:2px dashed gray; 
        border-top:2px dashed gray;
        padding: 4px 0;
        }
    .total-title{    padding: 20px 0px 7px 0;}
    .pay-font>div{font-weight: 800;}
    .etc-contant{margin: 18px 0; font-size: 18px;}
    .service-conatainer{margin: 20px 0;}
    .service-title{    
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    padding: 10px 0;}
    .service-detail{margin: 7px 0; font-size: 18px;}
    .between{display: flex; justify-content: space-between;}
    .del-img{    
        width: 75%;
        height: 100%;
        }
    .del-container{
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }   