

@charset "UTF-8";

   section{ 
        width: 100%;       
        display: flex;
        flex-direction: column;                    
    }
    .section1{ margin: 8% 0; }
    .span-padding{padding-left: 10%;}
    .section-container{
          padding: 5% 20%;
          width: 100%;                                  
    }
    .mod-product{margin: 20px 0;}
    .title-container{        
        width: 100%;        
        margin: 5% 0;
        font-size: 40px; 
        font-weight: 1000;
    }
    .etc-title{
        margin: 20px 0;
        font-size: 22px;
        font-weight: 1000;
    }
    .etc-title span{
        margin: 20px 0;
        font-size: 22px;
        font-weight: 1000;
        padding-right: 128px;
    }
    .total-title{    padding: 20px 0px 7px 0;}
    .order-container{
    			width: 100%;
              height: 140px;
			    margin: 30px 0;
			    display: flex;
			    flex-direction: row;
    }
    .pay-title{       
	    font-size:18px; 
	    margin: 6px 80px;
	    display: flex;
	    justify-content: space-between;
	    min-width: 250px;
    }
    .product-pic img{
            width: 140px;
            height: 140px;             
            float: left;             
    }
    .product-pic{
    	width: 140px;
    	height: 140px;
    }
    .product-detail{   
            padding: 5px;
            margin-left: 10%;
            font-size: 18px;            
        } 
    .line1{
            width: 100%;
            opacity: 20%;
            height: 1px;
            background-color: gray;
    }
    .field{
        display: flex;
        margin-top: 20px;
    }
    .field p{font-size: 18px;}
    .etc-p{
        font-size: 16px;
        margin:10px 0;
    }

    .first-div{
        min-width: 140px;
        width: 140px;        
        font-size: 20px;
        margin: 0 60px 0 0;     
        padding:10px;                   
    }
    .first-div-add{min-width:200px}
    .input1{
        width:300px;
        height: 40px;
    }
    .input1-extra{
    	border:none;
    	outline: none;
        font-size: 20px;
    }
    .padding-input{padding-top: 6px}
    
    .able-point{display: flex;     margin-top: 20px;}
    
    .input2{
        width: 150px;
        height: 40px;        
    }
    .btn1{
        border: none;
        color: white;
        background-color: #0058a3;
        width: 140px;
        height: 40px;   
        font-size:18px;  
        outline: none !important;   
    }
    .btn2{
    	 outline: none !important;    
        border: 1px solid rgb(216, 216, 216);        
        border-radius: 5px;
        background-color: white;
        width: 148px;
        height: 33px;
        font-size: 15px;
    }
    .btn3 {
        border: 1px solid rgb(216, 216, 216);        
        border-radius: 5px;
        background-color: white;
        width: 90px;
        height: 33px;
        font-size: 15px;
        margin-left: -32px;
    }
    .btn-container{
        padding: 0 0 0 10px;
    }
    .text-container{        
        margin-left:220px;                
    }
    .none-line{border: 1px solid #ced4da; outline: none;}
    .input3{
        height: 45px;
        width: 600px;        
    }
    /* .marb{position: absolute; z-index: 50;} */
    .messages{
    position: absolute; z-index: 100; display: block;
    background: white;}
    .input-vertical{    
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;    
    flex-direction: column;}
    .preset{ height: 45px;
        width: 600px;        
        padding: 10px;
	    font-size: 13px;
	    border-bottom: 1px solid #eee;
	    border-right: 1px solid #eee;
	    border-left: 1px solid #eee;
	    cursor: pointer;
        }
    .input4{
        width:300px;
        height: 40px;
        margin: 5px 10px;
    }
    .line2{
        border-bottom:2px dashed gray; 
        border-top:2px dashed gray;
        padding: 4px 0;
        
        }
     .line3{
     border-top:2px dashed gray;
      		width: 100%;
            opacity: 20%;
     }   
        
    .address-container{
        padding-left: 100px;
    }

    .event-bu{
            margin: 15px;
            border-radius: 50px;
            width: 100% !important;
            background-color: #0058a3 !important;
            border: white ;
            padding: 1.84rem 2.14rem !important;
            outline:none !important;                        
        }
        .event-sp{
            font-size: 18px;
            font-weight: bold;
            color: white !important;            
        }
        .event-sp:hover {
            color: white !important;
        }
        .event-bu:hover >.event-sp{
          color: white !important;
        }
        .event-bu:hover{
           background-color: #002b50 !important;         
        } 
        .etc-div{
            margin-left:200px ;
        }
        .i1{transition: 400ms;color:#0058a3;z-index:-1;}
        .i2{transition: 400ms;color:white;z-index:-1;}
        .ixy{position: absolute;left: 1%;top: 17%;z-index:-1;}
        .checkdiv{    
	        width: 100%;
	    	position: relative;
		    display: flex;
		    cursor: pointer;
		    height: 40px;		    
		    }
		/* .section-op{margin-top:23%;} */
        .ck{zoom: 5;position: relative;z-index: -1;opacity: 0;}
        .checkicon{width: 14%;min-height: 56px;min-width: 50px;z-index: -1;position: relative; margin-right: -9%;}
        .spanwid{width:88%; font-weight: 500; margin: 14px 0 30px 0; z-index: -1; position: relative; font-size: 18px;padding-left: 2%;}
		 .pay-font>div{font-weight: 800;}
       
        .contract-add{ 
        	display: flex;
            justify-content: space-between;
            padding: 12px 0px;}
       
        .content1,.content2,.content3{
            max-height:100px;
            overflow-y:scroll;
            white-space: pre-wrap;
            text-align: justify;
            font-size: 5px;
            display:none;
            background-color: #f0f0f0;
            margin-top : 10px;  
        }
        #extendBtn1, #extendBtn2, #extendBtn3, #extendBtn4{
            cursor: pointer;
            border:none;
            outline: none;
            background-color: white;
        }
		.field-add{margin-bottom:2%;}
        .usable-point{           
            font-size: 22px;
            color: #35c5f0;
            font-weight: bold;
            padding: 9px 0px 0px 7px;
        }
        .payment_panel label img{
        width: 350px;
    	height: 150px;
    	  padding: 0px 10px 0px 10px;
        }
        .non-input{border: none;
    		    width: 76px;
    		    outline:none;
    		    }
        .pay-label{border: 1px solid #eaebef; cursor: pointer;}
        .payment-title{display: flex; justify-content: center; }
        .payment_panel{
			display: flex !important;    	
	          width: 350px;
    		height: 200px;
	    	flex-direction: row;
		}  
/*         .card-title, .coin-title{
            z-index: 100;
        }   */
        .payment_panel > input[type=radio]:checked + label {background: #eaebef;width: auto;height: auto;}        
        
        .pre-point{  
            margin: 3px 0px 0px 0px;          
            font-size: 22px;
            color: #35c5f0;
            font-weight: bold;
        }        
        .product-container{
        	display:flex;
        	justify-content: space-between;
        }