@charset "UTF-8";

h1, h3{margin : 0;}
.review-container-content{
	margin: 1.5rem 1rem 3rem 1rem;
}
.review-container-inner{
	max-width: 900px;
	    margin: 0 auto;
}
.reviewform-title{
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
	margin: 1rem 0px;
}
.review-small-container{
	margin: 0 .7em 0 1em;
}
.orderList_mobile{
	width: -webkit-fill-available;
}
.orderList-tab{
	width: 100%;
}
.orderList-btn{
	padding: 1em 0 1em 0px;
	font-weight: 500;
	margin-bottom: .375rem;
	border:0;
	border-radius: .125rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
	font-size: .81rem;
	width: -webkit-fill-available;
}
.orderList-btn:focus{
	outline: none;
}
.btn-clicked{
	border-bottom: 3px solid black;
	z-index: 1;
   	font-weight: 600;
}
.panels{
	border-bottom: 2px solid #ccc;
   	padding: 1em .7em 1em 1.5em;
}
.panel2{
	display: none;
}
.reviewView{
	
    padding: 0.5em;
    margin: 1em;
    background-color: #e6f9fd;
}
.reviewNone{
	display:none;
}
.img-size{
	width: 80px;
	height: 80px;
}
.p-info{
    font-size: .85em;
}
.p-name{
    padding-top: .3em;
    font-size: 1.3em;
}
.reviewform-btn{
	padding-top: .8em;
}
.review-date{
	 padding: 1em;
}
.star-size{
width: 1em;
heignt: 1em;
color: #ffc107;
}
.content{
    margin: .4em;
    font-size: .85em;
}
.ri-img-size{
	width: 20em;
    margin: .3em;
    border-radius: 1em;
}
.reviewcontent{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media(min-width: 769px){
	.ri-img-size{
		width: 30em;
	}
}
.null-notice{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}
.null-icon{
	color: #ccc;
    width: 10em;
}
.null-notice-text{
    padding-top: 2em;
    font-weight: 900;
    color: #6c757d;
}
.score{
	display: flex;
	align-items: center;
}
.importent_style{
	box-shadow: unset !important;
}