<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">

	<select id="review" resultType="map" parameterType="String">
		SELECT * 
	    FROM REVIEW R
	    LEFT OUTER JOIN MEMBER M
	    ON R.MEMBER_NO = M.MEMBER_NO
	    LEFT OUTER JOIN REVIEW_IMAGE RI
	    ON R.REVIEW_NO = RI.REVIEW_NO
		WHERE R.PRODUCT_NO = #{productNo}
	</select>
	
	<select id="productDetail" resultType="map" parameterType="String">
		SELECT * 
	    FROM PRODUCT P
	    LEFT OUTER JOIN PRODUCT_IMAGE I
	    ON P.PRODUCT_NO = I.PRODUCT_NO
	    LEFT OUTER JOIN REVIEW R
	    ON I.PRODUCT_NO = R.PRODUCT_NO
	    LEFT OUTER JOIN MEMBER M
	    ON R.MEMBER_NO = M.MEMBER_NO
	    LEFT OUTER JOIN REVIEW_IMAGE RI
	    ON R.REVIEW_NO = RI.REVIEW_NO
		WHERE P.PRODUCT_NO = #{productNo}
	</select>


	<select id="checkProduct" resultType="map" parameterType="java.util.ArrayList">
	   SELECT *
	   FROM PRODUCT P
	   JOIN PRODUCT_IMAGE I 
	   ON P.PRODUCT_NO = I.PRODUCT_NO
	   WHERE I.PRODUCT_PIC IN 
		<if test="list.size != 0">
	    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            	#{item}
        </foreach>
        </if>
		
	</select>

	<select id="productList" resultType="map">
	
	   SELECT *
	   FROM PRODUCT P
	   JOIN PRODUCT_IMAGE I 
	   ON P.PRODUCT_NO = I.PRODUCT_NO
	
	</select>
	
	<select id="filter" resultType="map" parameterType="map">
		<choose>
			<when test="group1=='best'">
			   SELECT *
			   FROM PRODUCT P
			   JOIN PRODUCT_IMAGE I 
			   ON P.PRODUCT_NO = I.PRODUCT_NO
			   WHERE 1=1
			   <if test="group2 != null and group2 != 'null'">
			    	AND PRODUCT_WIDTH = #{group2,jdbcType=VARCHAR}
<!-- 			    	DB 에 CHECK 사이즈 지정 -->
			   </if>
			   <if test="group3 != null and group3 != 'null'">
			    	AND SMALL_CATEGORY_NO = #{group3}
			    	DB 카테고리 정하기
			   </if> 
			   <if test="group4 != null and group4 != 'null'">
<!-- 			   		FILTER 가격 범위 -->
				   <choose>
					   <when test="group4 gt 0 and group4 lt 40000">
					  <![CDATA[AND PRODUCT_PRICE < 40000]]>   
					   </when>
					   <when test="group4 gt 39999 and group4 lt 50000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 39999 AND 50000]]>
					   </when>
					   <when test="group4 gt 49999 and group4 lt 60000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 59999 and group4 lt 70000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 70000">
					   <![CDATA[	AND PRODUCT_PRICE > 70000]]>
					   </when>
				   </choose>	
			   </if>
			   <if test="group5 != null and group5 != 'null'">
<!-- 			   FILTER 색상 -->
			    	AND P.PRODUCT_COLOR = #{group5}
			    	
			   </if>
			   
			</when>
			
			<when test="group1=='lowPrice'">
			   SELECT *
			   FROM PRODUCT P
			   JOIN PRODUCT_IMAGE I 
			   ON P.PRODUCT_NO = I.PRODUCT_NO
			   WHERE 1=1
			   <if test="group2 != null and group2 != 'null'">
			    	AND PRODUCT_WIDTH = #{group2}
<!-- 			    	DB 에 CHECK 사이즈 지정 -->
			   </if>
			   <if test="group3 != null and group3 != 'null'">
			    	AND SMALL_CATEGORY_NO = #{group3}
<!-- 			    	DB 카테고리 정하기 -->
			   </if>
			   <if test="group4 != null and group4 != 'null'">
<!-- 			   		FILTER 가격 범위 -->
				  <choose>
					   <when test="group4 gt 0 and group4 lt 40000">
					  <![CDATA[AND PRODUCT_PRICE < 40000]]>   
					   </when>
					   <when test="group4 gt 39999 and group4 lt 50000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 39999 AND 50000]]>
					   </when>
					   <when test="group4 gt 49999 and group4 lt 60000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 59999 and group4 lt 70000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 70000">
					   <![CDATA[	AND PRODUCT_PRICE > 70000]]>
					   </when>
				   </choose>	
			   </if>
			   <if test="group5 !=null and group5 != 'null'">
<!-- 			   FILTER 색상 -->
			    	AND P.PRODUCT_COLOR = #{group5}
			    	
			   </if>
			   ORDER BY PRODUCT_PRICE ASC
			</when>
			
			<when test="group1=='highPrice'">
			   SELECT *
			   FROM PRODUCT P
			   JOIN PRODUCT_IMAGE I 
			   ON P.PRODUCT_NO = I.PRODUCT_NO
			   WHERE 1=1
			   <if test="group2!=null and group2 != 'null'">
			    	AND PRODUCT_WIDTH = #{group2}
<!-- 			    	DB 에 CHECK 사이즈 지정 -->
			   </if>
			   <if test="group3!=null and group3 != 'null'">
			    	AND SMALL_CATEGORY_NO = #{group3}
<!-- 			    	DB 카테고리 정하기 -->
			   </if>
			   <if test="group4!=null and group4 != 'null'">
<!-- 			   		FILTER 가격 범위 -->
				  <choose>
					   <when test="group4 gt 0 and group4 lt 40000">
					  <![CDATA[AND PRODUCT_PRICE < 40000]]>   
					   </when>
					   <when test="group4 gt 39999 and group4 lt 50000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 39999 AND 50000]]>
					   </when>
					   <when test="group4 gt 49999 and group4 lt 60000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 59999 and group4 lt 70000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 70000">
					   <![CDATA[	AND PRODUCT_PRICE > 70000]]>
					   </when>
				   </choose>	
			   </if>
			   <if test="group5!=null and group5 != 'null'">
<!-- 			   FILTER 색상 -->
			    	AND P.PRODUCT_COLOR = #{group5}
			    	
			   </if>
			   ORDER BY PRODUCT_PRICE DESC
			</when>
			
			<when test="group1=='newProduct'">
			   SELECT *
			   FROM PRODUCT P
			   JOIN PRODUCT_IMAGE I 
			   ON P.PRODUCT_NO = I.PRODUCT_NO
			   WHERE 1=1
			   <if test="group2!=null and group2 != 'null'">
			    	AND PRODUCT_WIDTH = #{group2}
<!-- 			    	DB 에 CHECK 사이즈 지정 -->
			   </if>
			   <if test="group3!=null and group3 != 'null'">
			    	AND SMALL_CATEGORY_NO = #{group3}
<!-- 			    	DB 카테고리 정하기 -->
			   </if>
			   <if test="group4!=null and group4 != 'null'">
<!-- 			   		FILTER 가격 범위 -->
				  <choose>
					   <when test="group4 gt 0 and group4 lt 40000">
					  <![CDATA[AND PRODUCT_PRICE < 40000]]>   
					   </when>
					   <when test="group4 gt 39999 and group4 lt 50000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 39999 AND 50000]]>
					   </when>
					   <when test="group4 gt 49999 and group4 lt 60000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 59999 and group4 lt 70000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 70000">
					   <![CDATA[	AND PRODUCT_PRICE > 70000]]>
					   </when>
				   </choose>	
			   </if>
			   <if test="group5!=null and group5 != 'null'">
<!-- 			   FILTER 색상 -->
			    	AND P.PRODUCT_COLOR = #{group5}
			    	
			   </if>
			   ORDER BY PRODUCT_PRICE ASC
			</when>
			
			<when test="group1=='name'">
			   SELECT *
			   FROM PRODUCT P
			   JOIN PRODUCT_IMAGE I 
			   ON P.PRODUCT_NO = I.PRODUCT_NO
			   WHERE 1=1
			   <if test="group2!=null and group2 != 'null'">
			    	AND PRODUCT_WIDTH = #{group2}
<!-- 			    	DB 에 CHECK 사이즈 지정 -->
			   </if>
			   <if test="group3!=null and group3 != 'null'">
			    	AND SMALL_CATEGORY_NO = #{group3}
<!-- 			    	DB 카테고리 정하기 -->
			   </if>
			   <if test="group4!=null and group4 != 'null'">
<!-- 			   		FILTER 가격 범위 -->
				 <choose>
					   <when test="group4 gt 0 and group4 lt 40000">
					  <![CDATA[AND PRODUCT_PRICE < 40000]]>   
					   </when>
					   <when test="group4 gt 39999 and group4 lt 50000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 39999 AND 50000]]>
					   </when>
					   <when test="group4 gt 49999 and group4 lt 60000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 59999 and group4 lt 70000">
					   <![CDATA[ 	AND PRODUCT_PRICE BETWEEN 49999 AND 60000]]>
					   </when>
					   <when test="group4 gt 70000">
					   <![CDATA[	AND PRODUCT_PRICE > 70000]]>
					   </when>
				   </choose>	
			   </if>
			   <if test="group5!=null and group5 != 'null'">
<!-- 			   FILTER 색상 -->
			    	AND P.PRODUCT_COLOR = #{group5}
			    	
			   </if>
			   ORDER BY PRODUCT_NAME ASC
			</when>
		</choose>

	
	</select>
	
	
	<!-- <select id="productList" resultType="map">
	
	   SELECT p.*, I.*
	   FROM PRODUCT P
	   JOIN PRODUCT_IMAGE I 
	   ON P.PRODUCT_NO = I.PRODUCT_NO
	
	</select>
	
	
	
	<select id="lowPriceFilter" resultType="map">
	
	   SELECT p.*, I.*
	   FROM PRODUCT P
	   JOIN PRODUCT_IMAGE I 
	   ON P.PRODUCT_NO = I.PRODUCT_NO
	   ORDER BY PRODUCT_PRICE ASC
	
	</select>
	
	<select id="highPriceFilter" resultType="map">
	   SELECT p.*, I.*
	   FROM PRODUCT P
	   JOIN PRODUCT_IMAGE I 
	   ON P.PRODUCT_NO = I.PRODUCT_NO
	   ORDER BY PRODUCT_PRICE DESC
	</select>
	
	<select id="newProductFilter" resultType="map">
	   SELECT p.*, I.*
	   FROM PRODUCT P
	   JOIN PRODUCT_IMAGE I 
	   ON P.PRODUCT_NO = I.PRODUCT_NO
	   ORDER BY PRODUCT_ENROLL_DATE ASC
	</select>
	
	<select id="nameFilter" resultType="map">
	   SELECT p.*, I.*
	   FROM PRODUCT P
	   JOIN PRODUCT_IMAGE I 
	   ON P.PRODUCT_NO = I.PRODUCT_NO
	   ORDER BY PRODUCT_NAME ASC
	</select> -->


<!-- ==================================================================================== -->


  	<select id="selectRooms" resultType="map" parameterType="string">
  		SELECT * FROM SHOWROOM WHERE ROOM_CODE=#{type}
  	</select>
   	<select id="selectRoomsProduct" resultType="map" parameterType="string">
  		SELECT * FROM ROOMS E
				JOIN PRODUCT R ON E.PRODUCT_NO= R.PRODUCT_NO
				 JOIN PRODUCT_IMAGE J ON E.PRODUCT_NO= J.PRODUCT_NO
                 JOIN SHOWROOM Q ON Q.ROOM_NO= E.ROOM_NO
                WHERE ROOM_CODE= #{type}
	</select> 
	<select id="roomsDetail" resultType="map" parameterType="string">
		 SELECT * FROM ROOMS E
				JOIN PRODUCT R ON E.PRODUCT_NO= R.PRODUCT_NO
				JOIN PRODUCT_IMAGE J ON E.PRODUCT_NO= J.PRODUCT_NO
				WHERE E.ROOM_NO=#{type}
	</select>
	<select id="selectRoomsTitle" resultType="map" parameterType="string">
		SELECT * FROM ROOMS_TITLE WHERE ROOM_CODE=#{type}
	</select>
</mapper>

