<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="product">
  	<select id="selectRooms" resultType="map" parameterType="string">
  		SELECT * FROM SHOWROOM WHERE ROOM_CODE=#{type}
  	</select>
   	<select id="selectRoomsProduct" resultType="map" parameterType="string">
  		SELECT * FROM ROOMS E
				JOIN PRODUCT R ON E.PRODUCT_NO= R.PRODUCT_NO
				 JOIN PRODUCT_IMAGE J ON E.PRODUCT_NO= J.PRODUCT_NO
                 JOIN SHOWROOM Q ON Q.ROOM_NO= E.ROOM_NO
                WHERE ROOM_CODE= #{type}
	</select> 
	<select id="roomsDetail" resultType="map" parameterType="string">
		 SELECT * FROM ROOMS E
				JOIN PRODUCT R ON E.PRODUCT_NO= R.PRODUCT_NO
				JOIN PRODUCT_IMAGE J ON E.PRODUCT_NO= J.PRODUCT_NO
				WHERE E.ROOM_NO=#{type}
	</select>
	<select id="selectRoomsTitle" resultType="map" parameterType="string">
		SELECT * FROM ROOMS_TITLE WHERE ROOM_CODE=#{type}
	</select>
</mapper>
