<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cart">
  	
  	 <resultMap id="cartMap" type="cart"> 	
 		<result column="cart_no"    property="cartNo"/>
 		<result column="product_no"  property="productNo"/>
 		<result column="cart_qty"   property="cartQTY"/>
 		<result column="member_no"   property="memberNo"/>
 		<result column="product_price"   property="productPrice"/>
 		<result column="total_price"   property="totalPrice"/>
 		<result column="product_name"   property="productName"/> 		
 	</resultMap>
 	
 	<select id="countCart" resultType="_int">
 		SELECT COUNT(*) FROM CART join cart_detail using(cart_no) WHERE MEMBER_NO=#{memberNo}  		
 	</select>
 	
 	<select id="countProduct" parameterType="map" resultType="_int">
 		SELECT COUNT(*) FROM CART_DETAIL WHERE PRODUCT_NO=#{productNo} AND CART_NO=#{cartNo}
 	</select>
 	
 	<update id="updateCart">
 		update cart_detail set cart_qty+#{cart_qty} where cart_no=#{cartNo} and product_no =#{productNo}
 	</update>
 	
 	<insert id="insertCart">
 		insert all into cart values('c'||SEQ_CART.NEXTVAL,#{memberNo})
		into cart_detail values('c'||SEQ_CART.NEXTVAL,#{productNo},default,#{productPrice}) select * from dual
 	</insert>
 	<insert id="insertDetail">
 		insert into cart_detail values(#{cartNo},#{productNo},#{cartQTY},#{productPrice})
 	</insert>
 	
  	<select id="selectCart" parameterType="string" resultMap="cartMap">
  		select * from cart join cart_detail using (cart_no) 
  		join product_image i using(product_no)
  		join product using(product_no) 
  		join member using(member_no)  		
  		where member_no=#{memberNo} and i.product_color='normal'
  	</select>
	<!-- 제일 최신 cartNo -->
  	<select id="selectCartNo" parameterType="string" resultType="string">
  		SELECT cart_no
FROM(
    SELECT 
        * 
    FROM cart 
    where member_no=#{memberNo}
    ORDER BY ROWNUM DESC)
WHERE ROWNUM = 1
  	</select>
  	  	
  	<delete id="deleteProduct" parameterType="map">
  		DELETE FROM cart_detail WHERE cart_no=#{cartNo} and product_no=#{productNo}
  	</delete>
  	  	
  	<update id="updateDetail" parameterType="cart">
  		UPDATE CART_DETAIL SET CART_QTY = #{cartQTY} WHERE PRODUCT_NO = #{productNo} and cart_no=#{cartNo}
  	</update>
  	 
  	 <select id="sumPrice" parameterType="string" resultType="_int">
  	 	select sum(product_price*cart_qty) from cart join cart_detail using(cart_no) join product using (product_no) where cart_no=#{cartNo}
  	 </select>
	
	<select id="productSum" parameterType="map">
		update cart_detail set total_price = #{totalPrice} where product_no=#{productNo}
	</select>
  	
  	<select id="selectCount" parameterType="string" resultType="_int">
  		select count(*) from cart_detail where cart_no=#{cartNo}
  	</select>
  	
  	<delete id="cartDelete" parameterType="string">
  		delete from cart where member_no=#{memberNo}
  	</delete>
  	
</mapper>
