<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cart">
  	
  	 <resultMap id="cartMap" type="cart"> 	
 		<result column="cart_no"    property="cartNo"/>
 		<result column="product_no"  property="productNo"/>
 		<result column="cart_qty"   property="cartQTY"/>
 		<result column="member_no"   property="memberNo"/>
 	</resultMap>
 	
  	<select id="selectCart" parameterType="string" resultMap="cartMap">
  		select * from cart join cart_detail using (cart_no) 
  		join product using(product_no) 
  		join member using(member_no)
  		join product_image using(product_no)
  		where member_no=#{memberNo}  
  	</select>

  	<select id="selectCartNo" parameterType="string" resultType="string">
  		select cart_no from member join cart using(member_no) where member_no=#{memberNo}
  	</select>
  	  	
  	<delete id="deleteProduct" parameterType="map">
  		DELETE FROM cart_detail WHERE cart_no=#{cartNo} and product_no=#{productNo}
  	</delete>
  	
  	<delete id="deleteBasket" parameterType="string">
  		delete from cart_detail where cart_no=#{cartNo}  
  	</delete>  
  	
  	<select id="memberInfo" parameterType="string" resultType="cart">
  		SELECT * FROM MEMBER join cart using(member_no) WHERE member_no=#{memberNo}
  	</select>  	
  	  	
  	<update id="updateDetail" parameterType="cart">
  		UPDATE CART_DETAIL SET CART_QTY = #{cartQTY} WHERE PRODUCT_NO = #{productNo} and cart_no=#{cartNo}
  	</update>
  	 
  	 <select id="sumPrice" parameterType="string" resultType="_int">
  	 	select sum(product_price*cart_qty) from cart join cart_detail using(cart_no) join product using (product_no) where cart_no=#{cartNo}
  	 </select>

  	
</mapper>
