@charset "UTF-8";
body,html{height:100%;overflow: hidden;}
    
    #totalForm{height:100%;}
    #semiForm{display:flex;height:100%;}
    #leftForm{
        width:38%;height:100%; background-color: lightslategray;padding: 2rem 5rem;
        display: flex;flex-direction: column; justify-content: space-between;
        color:white;
        }
    #rightForm{width:62%;height:100%;}
    *{margin:0;padding:0;}
    #loginForm{padding: 2rem 5rem; height:100%; display:grid;}
    #logininput{max-width: 450px;}
    .logbtn{margin:0; width:100%;border-radius: 30px;height: 3.5rem; font-weight: 800; font-size: 1rem;}
    .bc{background-color: lightslategray !important;}
    .mar{margin-top: 10%;
    margin-bottom: 4%;}
    .mdmar{margin-bottom:0;}
    .fs{font-size: 0.9rem;}
    .logoimg{
    background-image: url(../signup/LOGO4.png);
    background-repeat: no-repeat;
    background-size: 88px 44px;
    content: "";
    width:88px;
    height:44px;
    }
    .logo-size{
    	width: 75px;
    }
    #svgicon{
    height: 2.7rem;
    width: 1.5rem;
    fill:white;
    }
    .ptext{
    font-size: 14px;
    line-height: 20px;
    padding-top: 14px;
    margin-bottom: 0px;
    }
    .leftfx{
        font-size: 11px;
    }
    .asvg{position: absolute;left: -3.7rem;}
    .fw{font-weight: 700;}
    .itemstart{justify-content: flex-start;align-self: flex-start;}
    .fwtd{font-weight: bold; text-decoration:underline !important;}
    .hfs{font-size: 32px;}
    .divcenter{}
    .btnattr{
    background-color: #778899 !important;
    border-radius: 30px;
    width: 100%;
    padding: 0.rem .1rem .1rem;
    height: 3.5rem;
    font-weight: 700;
    padding: 0 2.5rem;
    font-size: 0.9rem;
    margin-top: 6%;
    }
    .searchPw{padding: 2rem 5rem;display:flex;justify-content: center;flex-direction: column;height: 94%;}
    .searchform{max-width:448px;}
    .errorspan{color: red; font-size: .75rem; font-weight: 500;}
    .bb{border-bottom: 1px solid #929292 !important;}
    #spw{display:none;}
    .pr{position:relative;}
    .borderb{border-bottom:1px solid black !important;}
    .marb{margin-bottom:2%}
    .disno{display:none;}
    .errored{border-bottom: 1px red solid !important;box-shadow: 0 1px 0 #e00751 !important;}
    .lfs{color:black !important;}
    #email-alarm{
	  position:absolute;
	  padding: 0.6rem 3rem 1rem;
	  left: 105%;
	  font-weight: 600;
      top: 13%;
	  width:200px;
	  height:70px;
	  margin-left:-50px;
	  background-color:#000;
	  color:#fff;
	  /* 애니메이션 이름 */
	  /* animation-name: emailDiv; */
	  animation-duration:3s;
	  animation-duration: leaner;
	  animation-iteration-count:1;
	  animation-direction:alternate;
	  animation-fill-mode: forwards;
	  border-radius: 10px;
    }
    
    @-webkit-keyframes emailDiv {
  0% {
    left:105%;
  }
  50%{
    left:70%;
  }
  100% {
    left:105%;
  }
}
@media (max-width:750px){
	#semiForm{display:grid;}
	#loginForm{padding:0;display:block;}
	#leftForm{width:100%}
	#logininput{max-width:100%;}
	#rightForm{width:100%;padding: 1rem 3rem 0rem;}
	
}