<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="review">
	<select id="selectOrderDetail" parameterType="_int" resultType="review">
		SELECT * FROM ORDER_DETAIL JOIN PRODUCT USING(PRODUCT_NO) 
				JOIN PRODUCT_IMAGE P USING(PRODUCT_NO)
				JOIN SMALL_CATEGORY USING(SMALL_CATEGORY_NO) 
				JOIN ORDERS USING(ORDER_NO) JOIN MEMBER USING(MEMBER_NO) WHERE ORDER_DETAIL_NO=#{odNo} AND P.PRODUCT_COLOR='normal'
	</select>
	
	<insert id="insertReview" parameterType="review">
		INSERT INTO REVIEW VALUES(R_SEQ.NEXTVAL, #{product_grade}, #{review_content}, #{member_no}, #{product_no}, DEFAULT, #{order_detail_no})
		<selectKey keyProperty="review_no" resultType="_int" order="AFTER">
			SELECT R_SEQ.NEXTVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertReviewImage" parameterType="reviewImage">
		INSERT INTO REVIEWIMAGE VALUES(RI_SEQ.NEXTVAL, #{review_no}, #{originalFileName}, #{renamedFileName})
	</insert>
	
	<select id="selectReviewList" parameterType="string" resultType="review">
		SELECT R.*, (SELECT COUNT(*) FROM REVIEW_IMAGE I WHERE R.REVIEW_NO=I.REVIEW_NO)  AS IMG_COUNT, P.*, S.*, M.*, A.PRODUCT_PIC 
		FROM REVIEW R JOIN PRODUCT P ON R.PRODUCT_NO=P.PRODUCT_NO
				JOIN PRODUCT_IMAGE A ON P.PRODUCT_NO = A.PRODUCT_NO
				JOIN SMALL_CATEGORY S ON S.SMALL_CATEGORY_NO=P.SMALL_CATEGORY_NO 
				JOIN MEMBER M ON M.MEMBER_NO=R.MEMBER_NO WHERE R.MEMBER_NO=#{mNo} AND A.PRODUCT_COLOR='normal'
	</select>
	
	<select id="selectReviewImage" parameterType="_int" resultType="reviewImage">
		SELECT * FROM REVIEWIMAGE WHERE REVIEW_NO=#{rNo}
	</select>
	
	<select id="selectBeforeReviewList" parameterType="string" resultType="review">
		select A.*, P.*, I.PRODUCT_PIC, S.SMALL_CATEGORY_CONTENT from ORDER_DETAIL A 
							JOIN PRODUCT P ON A.PRODUCT_NO=P.PRODUCT_NO 
							JOIN PRODUCT_IMAGE I ON P.PRODUCT_NO=I.PRODUCT_NO
							JOIN SMALL_CATEGORY S ON P.SMALL_CATEGORY_NO=S.SMALL_CATEGORY_NO
							left outer join REVIEW B on A.ORDER_DETAIL_NO=B.ORDER_DETAIL_NO
							JOIN ORDERS C ON A.order_NO=C.ORDER_NO
							where C.MEMBER_NO=#{mNo} AND C.ORDER_STATE='배송완료' AND I.PRODUCT_COLOR='normal' AND B.ORDER_DETAIL_NO is null
	</select>
</mapper>
